
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcessoNegado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportConnect.styles.css" asp-append-version="true" />

    <style>
        html, body{
            height: 100%;
        }

        p{
            font-size: 18px;
            text-align: center;
        }

        @@media (max-width: 550px){
            p{
                font-size: 15px !important;
            }

            img{
                height: 200px !important;
                width: 200px !important           
            }
        }
    </style>
</head>
<body>
    <div style="padding: 0px 50px 0px 50px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <img style="height: 250px; width: 250px" src="~/images/error-image.png"/>
        <h1 style="margin-bottom: 20px; margin: 20px; text-align: center">Acesso Negado!</h1>
        <p>Você não possui permissão para acessar essa página.</p>
        <p>Por favor volte e tente novamente.</p>
    </div>
</body>
</html>
